.position-relative {
	position: relative;
}

.add-contact {
	position: absolute;
    right: 25px;
    top: 30px;
}

.t{
  //@extend: 1px solid;
  background-color: rgb(162, 160, 175);
 }


 .petit-card{
   margin: auto;
   border-left: 60px solid;
   border-color: rgb(128, 128, 173);
 //  border: 1px solid;
 }
 
table {
    width: 100%;
   margin-top: 30px;
  }
  .fab{
      width: 12%;
      margin: 0.5%;
  }
  th.mat-sort-header-sorted {
    color: black;
  }
  .mat-form-field {
    font-size: 14px;
    width: 20%;
    margin-top: 30px;
    margin-left: 10px;

  }
 
 
  .header{
  margin-top: 10px;
  display: block;
  margin: auto;
  text-align: center;
  }
  .foot{
    background:rgb(90, 90, 158);
    text-align: center;
  }
  .mymargin{
   margin: 7px;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 0.5em;
    padding: 0.5em 0.5em;
}



h3 {
  font-weight: normal;
  color: #616161;
  font-size: 16px;
  margin: 8px;
}

.entete{
  width: 100%;
  background: rgb(233, 230, 230);
 // margin-top: -5%;
  position: relative;
}

// .number{

//   text-align: justify;
//   margin: auto;
//  font-family: cursive;
//   font-size:200%;
// }
// .type{
//   margin-right: 4px;
//   text-align: justify;
//   margin: auto; 
//   font-family: fantasy;

// }


.card {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  border: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 6px;
  color: #333333;
  background: #fff;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #eeeeee;
    border-radius: 0.25rem;
   

}