<!-- <br>
<div *ngFor="let op of operateurs">
  <div class="gallery" *ngIf="op.opaCode=='OP'">
    <a  (click)="openOrbus(op.opaId)">
      <img src="./assets/images/paiement/orbus.jpg" alt="Orbus Paiement" width="600" height="400">
    </a>
  </div>
  
  <div class="gallery" *ngIf="op.opaCode=='OM'">
    <a target="_blank" href="img_5terre.jpg">
      <img src="./assets/images/paiement/om.jpg" alt="Orange Money" width="600" height="400">
    </a>
  </div>
  
  <div class="gallery" *ngIf="op.opaCode=='Touchpay'">
    <a target="_blank" >
      <img src="./assets/images/paiement/touch3.png" alt="Touch Pay" width="600" height="400">
    </a>
  </div>
  <div class="gallery" *ngIf="op.opaCode=='Wave'">
    <a target="_blank" href="img_mountains.jpg">
      <img src="./assets/images/paiement/wave.png" alt="Wave Money" width="600" height="400">
    </a>
  </div>
  <div class="gallery"*ngIf="op.opaCode=='Free'">
    <a target="_blank" href="img_mountains.jpg">
      <img src="./assets/images/paiement/free.jpg" alt="Free Money" width="600" height="400">
    </a>
  </div>
  
</div> -->
<mat-card class="">
  <mat-card-header class="card-header">
    <mat-card-title>{{'operateur.titre' | translate}}</mat-card-title>
  </mat-card-header><br>
  <mat-form-field appearance="outline">
    <mat-label>{{'filtre' | translate}}</mat-label>
    <input matInput (keyup)="applyFilter($event)">
  </mat-form-field>
  <mat-menu #detail="matMenu">
    <form [formGroup]="form" >
      <div *ngFor="let cd of columnDefinitions">
        &nbsp; <mat-checkbox  [formControlName]="cd.def">{{cd.label}}&nbsp;
        </mat-checkbox>
      </div> 
    </form>
  </mat-menu>

  <!-- <button mat-mini-fab color="primary" class="add-contact" 
    matTooltip="{{'operateur.ajout' | translate}}">
    <mat-icon>add</mat-icon>
  </button> -->

  <div class="">
    <button class="float-right" mat-button [mat-menu-trigger-for]="detail" yPosition="above">
      <mat-icon matTooltip="{{'utilisateur.details'| translate}}" color="secondary">
        filter_alt
      </mat-icon>
    </button>
    <table mat-table class="mat-elevation-z8" [dataSource]="dataSource">
      <ng-container matColumnDef="operateurCode">
        <th  mat-header-cell *matHeaderCellDef> {{'operateur.code' | translate}}</th>
        <td mat-cell *matCellDef="let element" > <strong class="big">{{element.opaCode}}</strong> </td>
      </ng-container>

      <ng-container matColumnDef="operateurNom">
        <th mat-header-cell *matHeaderCellDef> {{'operateur.nom' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.opaNom}} </td>
      </ng-container>
      <ng-container matColumnDef="operateurStatut">
        <th mat-header-cell *matHeaderCellDef> {{'operateur.statut' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.opaIsActive? 'Active':'operateur.desactive' |translate}} </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef><span style="margin-left: 0%;">
            {{'register.action' | translate}}</span> </th>
        <td mat-cell *matCellDef="let element" class="fab">
          <button mat-button [mat-menu-trigger-for]="detail">
            <mat-icon matTooltip="{{'utilisateur.details'| translate}}" color="secondary" yPosition="above">
              more_vert
            </mat-icon>
          </button>


          <mat-menu #detail="matMenu">

            <button *ngIf="!element.opaIsActive" mat-menu-item (click)="activerOperateur(element.opaId)">
              <mat-icon matTooltip="{{'operateur.activer'| translate}}">lock_open
              </mat-icon>
              {{'operateur.activer'| translate}}
            </button>

            <button *ngIf="element.opaIsActive" mat-menu-item (click)="desactiverOperateur(element.opaId)">
              <mat-icon matTooltip="{{'operateur.desactiver'| translate}}">lock
              </mat-icon>
              {{'operateur.desactiver'| translate}}
            </button>

            <!-- <button mat-menu-item (click)="supprimerOperateur(element)">
              <mat-icon color="warn" matTooltip="{{'operateur.supprimer'| translate}}">delete
              </mat-icon>
              {{'operateur.supprimer'| translate}}
            </button> -->
            <!-- <button mat-menu-item (click)="openDialogEdit(element)">
              <mat-icon matTooltip="{{'operateur.edit'| translate}}">
                edit
              </mat-icon>{{'operateur.edit'| translate}}
            </button> -->


          </mat-menu>


        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
      <tr mat-row *matRowDef="let row; columns: getDisplayedColumns()"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>

</mat-card>