<div >   
          <h3 class="card-heading float-left">
            <strong class="foncer">{{'menu.add-title' | translate}}
            </strong>
        </h3>
      <form class="" [formGroup]="menuForm" (ngSubmit)="onSubmit()">
          <div class="">
              <div class="form-group input-group mymargin">              
                  <mat-form-field appearance="fill">
                      <mat-icon matSuffix>text_format</mat-icon>
                      <input matInput placeholder="{{'menu.nom' | translate}}"  formControlName="menNom"
                          required>
                      <mat-error *ngIf="f.menNom.errors"> {{'menu.control.nom' | translate}} </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                      <mat-icon matSuffix>text_format</mat-icon>
                      <input matInput placeholder="{{'menu.chemin' | translate}}" formControlName="menPath" required>
                      <mat-error *ngIf="f.menPath.errors"> {{'menu.control.path' | translate}} </mat-error>
                  </mat-form-field>
              </div>
          </div>
         
          <div class="">
              <div class="form-group input-group mymargin">
                  <mat-form-field appearance="fill">
                      <mat-icon matSuffix>image</mat-icon>
                      <input matInput placeholder="{{'menu.icone' | translate}}" formControlName="menIcone">
                      <mat-error *ngIf="f.menIcone.errors"> {{'menu.control.icone' | translate}} </mat-error>
                  </mat-form-field>
              </div>
              <div class="form-group input-group mymargin">
                  <mat-form-field appearance="fill">
                      <mat-icon matSuffix>invert_colors</mat-icon>
                      <input matInput placeholder="{{'menu.icone-color' | translate}}" type="email" formControlName="menIconeColor" required>
                      <mat-error *ngIf="f.menIconeColor.errors"> {{'menu.control.icone-color' | translate}} </mat-error>
                  </mat-form-field>
              </div>
          </div>         
         
          <div class="buttons">
              <div>
                <button mat-stroked-button color="warn" (click)="closeDialog()" type="button" >{{'btn_fermer' | translate}}</button>
                <button mat-raised-button color="primary" type="submit">{{'btn_enregistrer' | translate}}</button>
              </div>
              
          </div>
      </form>
  </div>