<!-- <span class="route">Dashboard > {{'menu.parametrage' | translate}}</span> -->
<div class="row">
  <div class="col-sm-6">
    <h3 class="float-left">
      <strong class="foncer"> {{'menu.parametrage' | translate}}
      </strong>
    </h3>

  </div>
</div>

<br>
<mat-tab-group [selectedIndex]="tabIndex">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="mymargin" color="primary">lock</mat-icon>
      {{'parametrage.gestionPwd' | translate}}
    </ng-template>

    <mat-card>
      <mat-card-header class="card-header">
        <mat-card-title>{{'parametrage.gestionPwd' | translate}}</mat-card-title>
      </mat-card-header>
      <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->

      <mat-card-content>
        <div class="row" style="margin-top: 15px;">
          <div class="col-md-4 col-sm-3 col-xs-12">
            <div class="info-box">
              <span class="info-box-icon bg-aqua"><i class="fa fa-table"></i></span>
              <div class="info-box-content">
                <span class="info-box-number color">{{criterePwd?.pwdCarMin}}<small></small></span><br>
                <span class="info-box-text color1">{{'criterePwd.caractereMin' | translate}} </span>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="info-box">
              <span class="info-box-icon bg-aqua"><i class="fa fa-sort-numeric-asc"></i></span>
              <div class="info-box-content">
                <span class="info-box-number color">{{criterePwd?.pwdDigMin}}</span><br>
                <span class="info-box-text color1">{{'criterePwd.nombreCaratereNumerique' | translate}}</span>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="info-box">
              <span class="info-box-icon bg-aqua"><i class="fa fa-font"></i></span>
              <div class="info-box-content">
                <span class="info-box-number color">{{criterePwd?.pwdMajMin}}<small></small></span><br>
                <span class="info-box-text color1">{{'criterePwd.nombreCaratereMaj' | translate}}</span>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="info-box">
              <span class="info-box-icon bg-aqua"><i class="fa fa-building-o"></i></span>
              <div class="info-box-content">
                <span class="info-box-number color">{{criterePwd?.pwdSpcMin}}</span><br>
                <span class="info-box-text color1">{{'criterePwd.nombreCaratereSpeciaux' | translate}}</span>
              </div>
            </div>
          </div>
          <div class="clearfix visible-sm-block"></div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="info-box">
              <span class="info-box-icon bg-aqua"><i class="fa fa-clock-o"></i></span>
              <div class="info-box-content">
                <span class="info-box-number color"> {{criterePwd?.pwdDure}}</span><br>
                <span class="info-box-text color1">{{'criterePwd.dureeValidite' | translate}}</span>
              </div>
            </div>
          </div>
        </div>




        <!-- <mat-grid-list [cols]="breakpoint" rowHeight="5:2" (window:resize)="onResize($event)">
          <mat-grid-tile>
            <p class="number">{{criterePwd?.pwdCarMin}}</p>
            <span class="type">{{'criterePwd.caractereMin' | translate}}</span>
          </mat-grid-tile>
          <mat-grid-tile>
            <p class="number">{{criterePwd?.pwdDigMin}}</p>
            <span class="type">{{'criterePwd.nombreCaratereNumerique' | translate}} </span>
          </mat-grid-tile>
          <mat-grid-tile>
            <p class="number">{{criterePwd?.pwdMajMin}}</p>
            <span class="type">{{'criterePwd.nombreCaratereMaj' | translate}} </span>
          </mat-grid-tile>
          <mat-grid-tile>
            <p class="number">{{criterePwd?.pwdSpcMin}}</p>
            <span class="type">{{'criterePwd.nombreCaratereSpeciaux' | translate}} </span>
          </mat-grid-tile>
          <mat-grid-tile>
            <p class="number"> {{criterePwd?.pwdDure}}</p>
            <span class="type">{{'criterePwd.dureeValidite' | translate}} </span>
          </mat-grid-tile>
        </mat-grid-list> -->
        <br>
      </mat-card-content>

      <!-- <mat-card-actions>
        <button mat-raised-button color="primary"
          (click)="openDialogUpdate(criterePwd)">{{'update' | translate}}</button>

      </mat-card-actions> -->
      <div class="mat-dialog-actions droite">
        <button mat-raised-button color="primary"
          (click)="openDialogUpdate(criterePwd)">{{'update' | translate}}</button>
        <!-- <button mat-stroked-button color="warn" (click)="closeDialog()"
          type="button">{{'Action.close' | translate}}</button> -->
      </div><br>
    </mat-card>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon color="primary">home</mat-icon>&nbsp;
      {{'utilisateur.home-design' | translate}}
    </ng-template>
    <app-home-design></app-home-design>
  </mat-tab>
  <mat-tab>
      <!-- <mat-card-header class="card-header">
        <mat-card-title class="header"> {{'groupeService'| translate}}</mat-card-title>
      </mat-card-header> -->
      <ng-template mat-tab-label>
        <mat-icon color="primary">domain</mat-icon>&nbsp;
        {{'groupeService'| translate}}
 
      </ng-template>

      <app-groupeservice></app-groupeservice>  
     <!---- <button mat-mini-fab color="primary" class="add-contact" (click)="openDialogAddSecteur()"

        matTooltip="{{'secteur.add' | translate}}">
        <mat-icon>add</mat-icon>
      </button><br>
      <mat-form-field appearance="outline">
        <mat-label>{{'utilisateur.filtre' | translate}}</mat-label>
        <input matInput (keyup)="applyFilter($event)">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> 
      </mat-form-field>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
 
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.secId}} </td>
          </ng-container> 
           
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> {{'secteur.nom' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.secNom}} </td>
          </ng-container>

         
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> {{'secteur.description' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.secDescription}} </td>
          </ng-container>

         

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>&nbsp;&nbsp; {{'secteur.action' | translate}} </th>
            <td mat-cell *matCellDef="let element">
              <button mat-button [mat-menu-trigger-for]="detail" yPosition="above">
                <mat-icon matTooltip="{{'utilisateur.details'| translate}}" color="secondary">
                  more_vert
                </mat-icon>
              </button>
              <mat-menu #detail="matMenu">
                <button mat-menu-item (click)="openDialogEditSecteur(element)">
                  <mat-icon matTooltip="{{'secteur.edit'| translate}}">edit</mat-icon>{{'utilisateur.edit'| translate}}
                </button>
                <button mat-menu-item (click)="openDialogDeleteSecteur(element)">
                  <mat-icon color="warn" matTooltip="{{'secteur.delete'| translate}}">delete</mat-icon>
                  {{'utilisateur.supprimer'| translate}}
                </button>
              </mat-menu>


            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>-->

  </mat-tab>
  <!-- <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon color="warn">notification_important</mat-icon>&nbsp;
      {{'notification.gestion-notification' | translate}}
    </ng-template>
    <app-notification></app-notification>
  </mat-tab> -->

</mat-tab-group><br>
