// @import "~bootstrap/scss/bootstrap";
.position-relative {
	position: relative;
}

.add-contact {
	position: absolute;
    right: 25px;
    top: 30px;
}
 
 .top{
margin-top: -42%;
 }
.size{
font-size: 90%;}
table {
    width: 100%;
   margin-top: 30px;
  }
 


 .right{
margin-left: 8%;
 }
 
  .mymargin{
   padding: 3%;
   margin:auto;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 0.5em;
    padding: 0.5em 0.5em;
}


.card {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  border: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 6px;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid #eeeeee;
    border-radius: 0.25rem;



}


/////

.clearfix{clear:both;}
.pointer{cursor: pointer;}
.ucfirst{text-transform: capitalize;}
.min300{min-height:300px}
.app-box{
    padding: 10px;
    margin-bottom:20px;
    height: 230px;
    background: #b5e8d4;
    overflow: hidden;
    box-shadow: 1px 1px 4px #ccc;
}
.app-box:hover{
    box-shadow: 1px 1px 4px #999;
}
.app-box .remove{
    position: absolute;
    right: 21px;
    top: 0px;
    color: #545454;
    display:none;
}
.app-box:hover .remove{
    display:block;
}
.inline-btn{
    background: #00b970;
    padding: 1px 5px;
    color: white;
    display: inline-block;
    margin-bottom: 5px;
}
.box{
    padding: 10px;
    margin-bottom:10px;
    overflow: auto;
    box-shadow: 1px 1px 4px #ddd;
}
.form-group .form-control{
    font-size:inherit;
    background-color: inherit;
}

.dndDropArea{
    padding: 10px;
    /* border: dotted #ddd 2px; */
}

.dndDropArea.empty{
    min-height:200px;
    border: dotted #ddd 2px;
}

.field{
    padding:5px;
    margin-bottom:10px;
    position: relative;
}
.field:hover{
    box-shadow: 1px 1px 4px #ddd;
}
.toggle-Wrapper{
    padding: 15px;
    background: #d6d6d629;
}
.dndHandle{
    cursor: pointer;
    color: #999;
}
.dndDraggingSource{
    opacity:0.3;
}
.dndPlaceholder{
    background: rgb(206, 238, 238); border-radius: 2px; padding: 20px;
    margin-bottom:10px;
}
.field .fa{
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 24px;
    vertical-align: middle;

}

.report-block{
    padding:10px;
    background:#f8f8f8;
    margin-bottom:20px;
}
.report-block .row:nth-child(even){
    background:#fff;
}

.ftheme{
    width:100%;
}

.dndDropArea .field .fa{
    opacity:0;
}
.dndDropArea .field:hover .fa{
    opacity:1;
}

.colorpick{
    height: 25px;
    background: white;
    border: none;
}

.card-widget {
    border: 0;
    position: relative;
}


.widget-user-2 .widget-user-header {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    padding: 1rem;
}

.widget-user-2 .widget-user-desc, .widget-user-2 .widget-user-username {
    margin-left: 75px;
}

.widget-user-2 .widget-user-username {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 5px;
    margin-top: 5px;
}

.widget-user-2 .widget-user-desc, .widget-user-2 .widget-user-username {
    margin-left: 75px;
}
.widget-user-2 .widget-user-desc {
    margin-top: 0;
}

.card-footer:last-child {
    border-radius: 0 0 calc(.25rem - 0) calc(.25rem - 0);
}
.p-0 {
    padding: 0!important;
}
.card-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 0 solid rgba(0,0,0,.125);
}

 .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.card .nav.flex-column>li {
    border-bottom: 1px solid rgba(0,0,0,.125);
    margin: 0;
}


