<mat-card class="">
    <mat-card-header class="card-header">
        <mat-card-title>{{'notification.liste-notification' | translate}}</mat-card-title>
    </mat-card-header><br>
    <mat-form-field appearance="outline">
        <mat-label>{{'utilisateur.filtre' | translate}}</mat-label>
        <input matInput (keyup)="applyFilter1($event)" >
      </mat-form-field>
    <button mat-mini-fab color="primary" class="add-contact" matTooltip="{{'notification.add' | translate}}"
        (click)="openDialogAdd()">
        <mat-icon>add_alert</mat-icon>
    </button>
    <div class="">
        <table mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="ntfObjet">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'notification.objet' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.notification.ntfObjet}} </td>
            </ng-container>
            <ng-container matColumnDef="ntfTntId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'notification.type' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.notification.ntfTntId.tntNom}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef><span style="margin-left: 8%;">
                        {{'register.action' | translate}}</span> </th>
                <td mat-cell *matCellDef="let element" class="fab">
                    <button mat-button [mat-menu-trigger-for]="detail" yPosition="above">
                        <mat-icon matTooltip="{{'utilisateur.details'| translate}}" color="secondary">
                            more_vert
                        </mat-icon>
                    </button>
                    <mat-menu #detail="matMenu">
                        <button mat-menu-item (click)="openDialogUpdate(element)">
                            <mat-icon matTooltip="{{'utilisateur.edit'| translate}}" color="secondary">
                                edit
                            </mat-icon>{{'utilisateur.edit'| translate}}
                        </button>
                        <button mat-menu-item (click)="openDialogEvenement(element.notification)">
                            <mat-icon color="primary" matTooltip="{{'notification.add-del-event' | translate}}">tune
                            </mat-icon>{{'notification.add-del-event'| translate}}
                        </button>
                    </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</mat-card>