<h3 class="card-heading float-left">
    <strong class="foncer"> {{'workflow.view' | translate}}
    </strong>
</h3><br><br>
<mat-dialog-content>
    <div >
       
    
        <mat-card-content>
            <div class="row">
                <div class="col-sm-12 col-lg-12 col-md-12">
                    <div class="fond"><br>
                        &nbsp;<mat-icon svgIcon="street-name"  matSuffix>perm_identity</mat-icon>&nbsp;
                        <span> {{'nom' | translate}}</span>
                        <p class="mymargin foncer">{{workflowview.name}}</p>
                    </div>
                    <div class="fond"><br>
                        &nbsp;<mat-icon  matSuffix>format_align_left</mat-icon>&nbsp;
                        <span> {{'description' | translate}}</span>
                        <p class="mymargin foncer">{{workflowview.description}}</p>
                    </div>
                    <div class="fond"><br>
                        &nbsp;<mat-icon svgIcon="id" matSuffix></mat-icon>&nbsp;
                        <span> {{'groupeId' | translate}}</span>
                        <p class="mymargin foncer">{{workflowview.groupId}}</p>
                    </div>
                    <div class="fond"><br>
                        &nbsp;<mat-icon svgIcon="signs"  matSuffix></mat-icon>&nbsp;
                        <span> {{'version' | translate}}</span>
                        <p class="mymargin foncer">{{workflowview.version}}</p>
                    </div>
                    <div class="fond"><br>
                        &nbsp;<mat-icon svgIcon="guinar"  matSuffix></mat-icon>&nbsp;
                        <span> {{'workflow.containerid' | translate}}</span>
                        <p class="mymargin foncer">{{workflowview.wkfConteneur}}</p>
                    </div>
                    <div class="fond"><br>
                        &nbsp;<mat-icon svgIcon="process_pi" matSuffix>swap_calls</mat-icon>&nbsp;
                        <span> {{'workflow.processid' | translate}}</span>
                        <p class="mymargin foncer">{{workflowview.wkfProcess_id}}</p>
                    </div>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions >
            &nbsp;  &nbsp; <button mat-stroked-button color="warn" (click)="closeDialog()">{{'Action.close' | translate}}</button>
        </mat-card-actions>
        <!-- <form class="" >
              <div class="">
                  <div>
                      <div class="mat-row" style="margin-top: 1em">
                          <h4 >{{'nom' | translate}}</h4> 
                          <mat-label> {{workflowview.name}} </mat-label>
                      </div>
                      
                      <div class="mat-row" style="margin-top: 1em">
                        <h4 >{{'description' | translate}}</h4>
                        <mat-label> {{workflowview.description}} </mat-label>
                      </div>
                      <div class="mat-row" style="margin-top: 1em">
                        <h4 >{{'groupeId' | translate}}</h4> 
                        <mat-label> {{workflowview.groupId}} </mat-label>
                    </div>
                    <div class="mat-row" style="margin-top: 1em">
                        <h4 >{{'version' | translate}}</h4> 
                        <mat-label> {{workflowview.version}} </mat-label>
                    </div>
                    <div class="mat-row" style="margin-top: 1em">
                        <h4 >{{'workflow.containerid' | translate}}</h4> 
                        <mat-label> {{workflowview.wkfConteneur}} </mat-label>
                    </div>
                    <div class="mat-row" style="margin-top: 1em">
                        <h4 >{{'workflow.processid' | translate}}</h4> 
                        <mat-label> {{workflowview.wkfProcess_id}} </mat-label>
                    </div>
                  </div>         
              </div>        
              <div class="buttons" style="margin-top: 1em">
                  <div class="login">                  
                      <button mat-raised-button color="warn" (click)="closeDialog()" type="button" >{{'Action.close' | translate}}</button>
                  </div>
              </div>
          </form> -->
    </div>
</mat-dialog-content>