<div>
    <div class="">
        <h3 class="card-heading float-left">
            <strong class="foncer">{{'workflow.add' | translate}}
            </strong>
        </h3>
    </div><br>
    <form class="" [formGroup]="addForm" (ngSubmit)="onSubmit()">
        <div class="">
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>{{'workflow.nom' | translate}}</mat-label>
                    <mat-icon matSuffix>compare_arrows</mat-icon>
                    <input matInput type="text" formControlName="name"
                        required>
                    <mat-error *ngIf="!f.name">
                        {{'workflow.name-error' | translate}} </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>{{'workflow.description' | translate}}</mat-label>
                    <mat-icon matSuffix>compare_arrows</mat-icon>
                    <input matInput  type="text"
                        formControlName="description" required>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>{{'workflow.groupid' | translate}}</mat-label>
                    <mat-icon matSuffix>compare_arrows</mat-icon>
                    <input matInput  type="text"
                        formControlName="groupId" required>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>{{'workflow.version' | translate}}</mat-label>
                    <mat-icon matSuffix>compare_arrows</mat-icon>
                    <input matInput  type="text"
                        formControlName="version" required>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>{{'workflow.wcalltoaction' | translate}}</mat-label>
                    <mat-icon matSuffix>compare_arrows</mat-icon>
                    <input matInput  type="text"
                        formControlName="wkfCalltoaction" required>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>{{'workflow.labelwidget' | translate}}</mat-label>
                    <mat-icon matSuffix>compare_arrows</mat-icon>
                    <input matInput  type="text"
                        formControlName="wkfLabelwdgt" required>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>{{'workflow.secteur' | translate}}</mat-label>
                    <mat-icon matSuffix>compare_arrows</mat-icon>
                    <mat-select placeholder="{{'workflow.secteur' | translate}}" formControlName="wkfSecteur" required>
                        <mat-option *ngFor="let wrk of workflow" [value]="wrk.wsSecteur">{{wrk.wsSecteur}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="mat-dialog-actions">
            <button mat-stroked-button color="warn" (click)="closeDialog()"
                type="button">{{'Action.close' | translate}}</button>
            <mat-spinner class="center" *ngIf="loading" value="indeterminate"></mat-spinner>
            <button mat-raised-button color="primary" type="submit">{{'Action.save' | translate}}</button>


        </div>
    </form>
</div>