<div class="login-page">
  <div class="login-spacer"></div>
  <div class="">
    <h3 class="card-heading float-left">
      <strong class="foncer"> {{ editLangueTitle | translate}}
      </strong>
    </h3>
    <form class="" [formGroup]="langueForm" (ngSubmit)="onSubmit()"><br><br>

      <mat-form-field appearance="fill">
        <mat-label>{{'configuration.langue.lngCode' | translate}}</mat-label>
        <mat-icon matSuffix>flag</mat-icon>
        <input matInput  type="text" formControlName="lngCode" required>
        <!-- <mat-error *ngIf="f.frmNom.errors">
          {{'formulaire.name-error' | translate}} </mat-error> -->
      </mat-form-field>
      <!-- <mat-form-field appearance="fill">
        <mat-select formControlName="lngDispositionText">
          <mat-option [value]="1"></mat-option>
          <mat-option [value]="0"></mat-option>

        </mat-select>
        <mat-label>{{'langue.lngDispositionText' | translate}}</mat-label> -->
        <!-- <mat-icon matSuffix>account_balance</mat-icon> -->
        <!-- <input matInput  type="text"
          formControlName="lngDispositionText" required>
      </mat-form-field> -->
      <mat-form-field appearance="fill">
        <mat-label>{{'configuration.langue.lngLibelleComplet' | translate}}</mat-label>
        <mat-icon matSuffix>language</mat-icon>
        <input matInput  type="text"
          formControlName="lngLibelleComplet" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{'configuration.langue.lngLangue' | translate}}</mat-label>
        <mat-icon matSuffix>translate</mat-icon>
        <input matInput  type="text"
          formControlName="lngLangue" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{'configuration.langue.lngIcone' | translate}}</mat-label>
        <mat-icon matSuffix>picture</mat-icon>
        <input matInput  type="text"
          formControlName="lngIcone" >
      </mat-form-field>
      <div class="buttons">
        <div class="login">
          <button mat-stroked-button color="warn" (click)="closeDialog()"
            type="button">{{'btn_fermer' | translate}}</button>
          <button mat-raised-button color="primary" type="submit">{{'btn_valider' | translate}}</button>

        </div>
      </div>
    </form>
  </div>
</div>
