<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="ApplicationForm">
    <form [formGroup]="ApplicationForm" (ngSubmit)="onSubmit()">
      <ng-template matStepLabel>{{'application.register' | translate}}</ng-template>
      <div class="login-page">
        <div class="login-spacer"></div>
        <div class=""><br>

          <mat-form-field appearance="fill">
            <mat-label>{{'application.nom' | translate}}</mat-label>
            <mat-icon matSuffix>home</mat-icon>
            <input matInput placeholder="{{'application.nom' | translate}}" type="text" formControlName="appNom"
              required>
            <mat-error *ngIf="f.appNom.errors">
              {{'control.nom' | translate}} </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{'application.secteur' | translate}}</mat-label>
            <mat-icon matSuffix>domain</mat-icon>
            <input matInput placeholder="{{'application.secteur' | translate}}" type="text" formControlName="appSecteur"
              required>
            <mat-error *ngIf="f.appSecteur.errors">
              {{'control.secteur' | translate}} </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{'application.nom_entreprise' | translate}}</mat-label>
            <mat-icon matSuffix>account_balance</mat-icon>
            <input matInput placeholder="{{'application.nom_entreprise' | translate}}" type="text"
              formControlName="appNomEntreprise" required>
            <mat-error *ngIf="f.appNomEntreprise.errors">
              {{'control.nom_entreprise' | translate}} </mat-error>
          </mat-form-field>
          <div class="">
            <mat-form-field appearance="fill">
              <mat-label>{{'application.ninea' | translate}}</mat-label>
              <mat-icon matSuffix>perm_identity</mat-icon>
              <input matInput placeholder="{{'application.ninea' | translate}}" type="text" formControlName="appNinea">

            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>{{'application.adresse' | translate}}</mat-label>
              <mat-icon matSuffix>house</mat-icon>
              <input matInput placeholder="{{'application.adresse' | translate}}" type="text"
                formControlName="appAdresse">

            </mat-form-field>
          </div>
          <mat-form-field appearance="fill">
            <mat-label>{{'application.telephone_fixe' | translate}}</mat-label>
            <mat-icon matSuffix>phone</mat-icon>
            <input matInput placeholder="{{'application.telephone_fixe' | translate}}" pattern="[+]{0,1}[0-9]{0,15}"
              type="tel" formControlName="appTelephoneFixe">
            <mat-error *ngIf="f.appTelephoneFixe.errors">
              {{'control.telephone_fixe' | translate}} </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{'application.telephone_mobile' | translate}}</mat-label>
            <mat-icon matSuffix>stay_current_portrait</mat-icon>
            <input matInput placeholder="{{'application.telephone_mobile' | translate}}" pattern="[+]{0,1}[0-9]{0,15}"
              type="tel" formControlName="appTelephoneMobile">
            <mat-error *ngIf="f.appTelephoneMobile.errors">
              {{'control.telephone_mobile' | translate}} </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{'application.email' | translate}}</mat-label>
            <mat-icon matSuffix>work</mat-icon>
            <input matInput pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
              placeholder="{{'application.email' | translate}}" type="email" formControlName="appEmail">
            <mat-error *ngIf="f.appEmail.errors">
              {{'control.email' | translate}} </mat-error>
          </mat-form-field>
          <!-- 
          <mat-form-field>
            <input matInput formControlName="appDateCreation" required [matDatepicker]="picker"
              placeholder="{{'application.date_creation' | translate}}">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field> -->

          <!-- <div class="buttons">
            <div class="login">
              <button mat-stroked-button color="warn" (click)="closeDialog()"
                type="button">{{'btn_fermer' | translate}}</button>
              <button mat-raised-button color="primary" type="submit" matStepperNext>
                {{'application.next' | translate}} &nbsp; <mat-icon>arrow_forward</mat-icon></button>

            </div>

          </div> -->
          <!-- <div class="row">
            <div class="col-sm-6">
              <button mat-stroked-button color="warn" (click)="closeDialog()"
                type="button">{{'btn_fermer' | translate}}</button>
            </div>
            <div class="col-sm-6">
              <button mat-raised-button color="primary" type="submit" matStepperNext>
                {{'application.next' | translate}} &nbsp; <mat-icon>arrow_forward</mat-icon></button>
            </div>

          </div> -->


          <div>
            <button mat-stroked-button color="warn" (click)="closeDialog()"
            type="button">{{'btn_fermer' | translate}}</button>
            <button mat-raised-button color="primary" type="submit" matStepperNext>
              {{'application.next' | translate}} &nbsp; <mat-icon>arrow_forward</mat-icon></button>
          </div>

          <!-- </form> -->
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" [optional]="isOptional">
    <!-- <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>{{'application.choix_module' | translate }}</ng-template>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
      </mat-form-field>
      <div>
       <button mat-button matStepperPrevious color="warn">{{'application.back' | translate }}</button>
        <button mat-button matStepperNext color="primary">{{'application.next' | translate }}</button>
      </div>
    </form> -->
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>{{'application.choix_module' | translate }}</ng-template>
      <div class="row container-fluid">
        <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let m of module">
          <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
              <h3 class="card-category text-white center">{{m.modNom}}
                <!-- <input type="checkbox" [(ngModel)]="isChecked" (click)="lierModule(m.modId)" (change)="checkValue($event)"> -->
                <mat-checkbox class="float-left" (change)="lierModule($event,m.modId)"></mat-checkbox>

              </h3>
            </div>
            <div class="card-footer">
              <div class="stats center">
                <!-- {{m.modNom}} -->
                <button mat-button color="primary"
                  (click)="openDialogChoixFonctionnalite(m.modId)">{{'fonctionnalite.Choix_fonctionnalite' | translate}}</button>
              </div>
            </div>
          </div><br>
        </div>
      </div>
      <div>
        <button mat-stroked-button color="primary" matStepperPrevious color="warn">
          <mat-icon>arrow_back</mat-icon>&nbsp;{{'application.back' | translate }}
        </button>
        <button mat-raised-button matStepperNext (click)="etapeUpdate2()"
          color="primary">{{'application.next' | translate }}&nbsp; <mat-icon>arrow_forward</mat-icon></button>
      </div>
    </form>
  </mat-step>
  <!-- <mat-step [stepControl]="thirdFormGroup" [optional]="isOptional"> -->
  <mat-step [stepControl]="thirdFormGroup" [optional]="isOptional">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>{{'application.choix_composant' | translate }}</ng-template>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <mat-form-field appearance="fill">
            <mat-label>{{'application.choisir_workflow'| translate}}</mat-label>
            <mat-select name="selectedWorkflow" formControlName="workflow" multiple>
              <mat-option #matOption *ngFor="let workflow of workflows"
                (click)="clickedOptionWorkflow(matOption.selected,workflow.wkfId)" [value]="workflow.wkfAppId">
                {{workflow.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <mat-form-field appearance="fill">
            <mat-label>{{'application.choisir_formulaire'| translate}}</mat-label>
            <mat-select name="selectedFormulaire" formControlName="formulaire" multiple>
              <mat-option #matOption *ngFor="let formulaire of formulaires"
                (click)="clickedOptionFormulaire(matOption.selected,formulaire.frmId)" [value]="formulaire">
                {{formulaire.frmNom}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <mat-form-field appearance="fill">
            <mat-label>{{'application.choisir_fichier' | translate}}</mat-label>
            <mat-select formControlName="fichier" multiple>
              <mat-option #matOption *ngFor="let fichier of fichiers" [value]="fichier"
                (click)="clickedOptionFichier(matOption.selected,fichier.rptId)">{{fichier.rptNom}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div>
        <button mat-stroked-button matStepperPrevious color="warn">
          <mat-icon>arrow_back</mat-icon>&nbsp;{{'application.back' | translate }}
        </button>
        <button mat-raised-button matStepperNext color="primary" routerLink=".."
          (click)="etapeUpdate3()">{{'application.enregistrer'| translate }}&nbsp;
          <!-- <mat-icon>arrow_forward</mat-icon> -->
        </button>
      </div>
    </form>
  </mat-step>
  <!-- <mat-step [stepControl]="fourthFormGroup" [optional]="isOptional">
    <form [formGroup]="fourthFormGroup">
      <ng-template matStepLabel>{{'application.choix_emplacement' | translate }}</ng-template>
      <mat-form-field>
        <mat-label>{{'emplacement' | translate}}</mat-label>
        <input matInput formControlName="fourthCtrl" placeholder="{{'choisir_emplacement' | translate}}"  required>
      </mat-form-field>
      <div>
        <button mat-raised-button matStepperPrevious color="warn"><mat-icon>arrow_back</mat-icon>&nbsp;{{'application.back' | translate }}</button>
        <button mat-raised-button (click)="save()">{{'application.enregistrer' | translate }}</button>
        <button mat-raised-button (click)="stepper.reset()">{{'application.enregistrer' | translate }}</button>
        <button mat-button matStepperPrevious>{{'application.back' | translate }}</button>
        <button mat-button matStepperNext>{{'application.next' | translate }}</button>
      </div>
    </form>
  </mat-step> -->
  <!-- <mat-step>
    <ng-template matStepLabel>{{'application.fin' | translate }}</ng-template>
    <p>{{'application.message_fin' | translate }}</p>
    <div>
      <button mat-button matStepperPrevious>{{'application.back' | translate }}</button>
      <button mat-button (click)="stepper.reset()">{{'application.reset' | translate }}</button>
    </div>
  </mat-step> -->
</mat-horizontal-stepper>