
<div class="login-page">
  <div class="login-spacer"></div>
  <div class="">
      <div id="login-fab" class="mdl-color--accent mdl-color-text--white">
          <i id="lock-icon" class="material-icons">lock</i>
      </div>
      <h2 class="card-heading">
          Register
      </h2>
      <form class="" [formGroup]="registreForm" (ngSubmit)="onSubmit()">
          <div class="">
              <div class="form-group input-group mymargin">
                  <mat-form-field>
                      <mat-icon matSuffix>perm_identity</mat-icon>
                      <input matInput placeholder="{{'register.code' | translate}}" type="text" formControlName="code"
                          required>
                  </mat-form-field>
                  <mat-form-field>
                      <mat-icon matSuffix>perm_identity</mat-icon>
                      <input matInput placeholder="{{'register.libelle' | translate}}" type="text" formControlName="libelle" required>
                  </mat-form-field>
              </div>         
          </div>
          <mat-form-field>
              <mat-icon matSuffix>perm_identity</mat-icon>
              <input matInput placeholder="{{'register.icone' | translate}}" type="text" formControlName="icon" required>
          </mat-form-field>        
          <div class="buttons">
              <div class="login">
                  <button mat-raised-button color="primary" type="submit">{{'btn_valider' | translate}}</button>
                  <button mat-raised-button color="warn" (click)="closeDialog()" type="button" routerLink="/dashboard">{{'btn_fermer' | translate}}</button>
              </div>
          </div>
      </form>
  </div>
</div> 
