@import '../../app-theme';

// Define the dark theme.
$primary: mat-palette($mat-pink);
$accent:  mat-palette($mat-blue-grey, A200, A100, A400);

$theme: mat-dark-theme($primary, $accent);
// Theme for notifications / snackbar
$notifications-theme: (
  default: #fff,
  info: mat-color(mat-palette($primary), 400),
  success: mat-color(mat-palette($mat-green), 400),
  warning: mat-color(mat-palette($mat-orange), 400),
  error: mat-color(mat-palette($mat-red), 400),
);
@include angular-material-theme($theme);
@include material-custom-theme($theme, $notifications-theme);
