<mat-card class="">
    <mat-card-header class="card-header centrer">
        <mat-card-title>{{'fichier.alert' | translate}}</mat-card-title>
        <!-- <span class="header">{{'fichier.alert' | translate}}</span> -->
    </mat-card-header>
    <mat-form-field appearance="outline" class="filtre">
        <mat-label>{{'utilisateur.filtre'| translate}}</mat-label>
        <input matInput (keyup)="applyFilter($event)" >
    </mat-form-field>

    <div class="container-fluid">
        <table mat-table class=" mat-elevation-z8" [dataSource]="dataSource" matSort>   
            <ng-container matColumnDef="fhrNom">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'fichier.nom' | translate}} </th>
                <td mat-cell *matCellDef="let rapport"> {{rapport.rptNom}} </td>
            </ng-container>
            <ng-container matColumnDef="rptDescription">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'fichier.description' | translate}} </th>
                <td mat-cell *matCellDef="let rapport"> {{rapport.rptDescription}} </td>
              </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef><span>
                    &nbsp; &nbsp;{{'register.action' | translate}}</span> </th>
                <td mat-cell *matCellDef="let rapport" class="fab">
                    <button mat-button [mat-menu-trigger-for]="detail" yPosition="above">
                        <mat-icon matTooltip="{{'utilisateur.details'| translate}}" color="secondary">
                          more_vert
                        </mat-icon>
                      </button>
                      <mat-menu #detail="" x-position="before">
                          <button mat-menu-item (click)="openDialogAttriSousMenu(rapport)">
                            <mat-icon matTooltip="{{'fichier.addDelMenu' | translate}}" color="primary" >
                                tune
                            </mat-icon>{{'fichier.addDelMenu' | translate}}
                          </button>
                      </mat-menu>

                   
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>

</mat-card>