<div>
  <div class="">
      <h3 class="card-heading float-left">
          <strong class="foncer">{{'workflow.taskadd' | translate}}
          </strong>
      </h3>
  </div><br>
  <form class="" [formGroup]="addTskForm" (ngSubmit)="onSubmit()">
      <div class="">
          <div>

            <mat-form-field appearance="fill">
              <mat-label>{{'workflow.taskname' | translate}}</mat-label>
              <mat-icon matSuffix>compare_arrows</mat-icon>
              <mat-select placeholder="{{'workflow.taskname' | translate}}" formControlName="taskname" required>
                  <mat-option *ngFor="let wrk of processdef" [value]="wrk['task-name']">{{wrk['task-name']}}
                  </mat-option>
              </mat-select>
          </mat-form-field> 
          <mat-form-field appearance="fill">
            <mat-label>{{'workflow.Tasknamesuivant' | translate}}</mat-label>
            <mat-icon matSuffix>compare_arrows</mat-icon>
            <mat-select placeholder="{{'workflow.Tasknamesuivant' | translate}}" formControlName="Tasknamesuivant" required>
                <mat-option *ngFor="let tsk of tasknfos" [value]="tsk['tskId']">{{tsk['tskName']}}
                </mat-option>
            </mat-select>
        </mat-form-field> 
          
        <mat-form-field appearance="fill">
            <mat-label>{{'workflow.profil' | translate}}</mat-label>
            <mat-icon matSuffix>compare_arrows</mat-icon>
            <mat-select placeholder="{{'workflow.ownername' | translate}}" formControlName="ownername" required>
                <mat-option *ngFor="let pro of profiles" [value]="pro['proId']">{{pro['proLibelle']}}
                </mat-option>
            </mat-select>
        </mat-form-field> 
          
          <mat-form-field appearance="fill">
            <mat-label>{{'workflow.taskdescription' | translate}} </mat-label>
            <mat-icon matSuffix>compare_arrows</mat-icon>
            <input matInput type="text" formControlName="taskdescription" required>
             
        </mat-form-field>


        <mat-form-field appearance="fill">
            <mat-label>{{'workflow.statusId' | translate}}</mat-label>
            <mat-icon matSuffix>compare_arrows</mat-icon>
            <mat-select placeholder="{{'workflow.statusId' | translate}}" formControlName="statusId" required>
                <mat-option *ngFor="let sts of status" [value]="sts['stsId']">{{sts['stsName']}}
                </mat-option>
            </mat-select>
        </mat-form-field>

          <br>
          <label class="container"> 
            <input type="checkbox" formControlName="positionform" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/>
            {{'workflow.formulaireprimaire' | translate}}  
            </label>
          <br>
          </div>
      </div>

      <div class="mat-dialog-actions">
          <button mat-stroked-button color="warn" (click)="closeDialog()"
              type="button">{{'Action.close' | translate}}</button>
          <mat-spinner class="center" *ngIf="loading" value="indeterminate"></mat-spinner>
          <button mat-raised-button color="primary" type="submit">{{'Action.save' | translate}}</button>


      </div>
  </form>
</div>