// .avatar {
//     vertical-align: middle;
//     width: 50px;
//     height: 50px;
//     border-radius: 50%;
//   }
  
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  
  .buttons{
    margin-bottom: 4%;
    margin-left: 4%;
  }
  mat-card{
    width: 50%;
  }
  

  .mymargin{
    margin-left: 8%;
    padding-bottom: 4%;
  }
  .mymarge{
    // margin-left: 20%;
    margin: auto;
  }
  .image{
    margin-left: -10%;
  }
 
  .droite{
    margin-right: 1%;

  }
  img {
    width: 100%;
    height: auto;
  }
  .avatar{
    border: 5px solid black;
  }

  div.polaroid {
    // width: 40%;
    background-color: white;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    // margin-bottom: 25px;
  }
  // div.container {
  //   text-align: center;
  //    padding: -35px 10px;
  // }
  .top{
    margin-top: -5%;
  }
  .topp{
    margin-top: -39%;
  }