.position-relative {
	position: relative;
}


.add-contact {
	position: absolute;
    right: 25px;
    top: 25px;
}


  mat-form-field{
    width: 30%;
    margin-left: 1%;

  }

table {
    width: 100%;
   margin-top: 20px;
  }
  .fab{
      width: 12%;
      margin: 0.5%;
  }
  th.mat-sort-header-sorted {
    color: black;
  }
 
  
  .header{
  margin-top: 10px;
  display: block;
  margin: auto;
  text-align: center;
  color: white;
  }