<div >
    <div class="">
        <h3 class="card-heading float-left">
            <strong class="foncer">   {{'fonctionnalite.edit' | translate}}
            </strong>
          </h3>
        <!-- <h2>
            {{'fonctionnalite.edit' | translate}}
        </h2> -->
    </div>
    <form class="" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div>
            <div>
        
                <mat-form-field>
                    <mat-icon matSuffix>settings</mat-icon>
                    <input matInput placeholder="{{'fonctionnalite.nom' | translate}}" formControlName="fonNom" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-icon matSuffix>settings</mat-icon>
                    <input matInput placeholder="{{'fonctionnalite.description' | translate}}" 
                        formControlName="fonDescription" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-icon matSuffix>settings</mat-icon>
                    <input matInput placeholder="{{'fonctionnalite.code' | translate}}"  formControlName="fonCode"
                        required>
                </mat-form-field>
            </div>
        </div>
        <div class="mat-dialog-actions">
            <button mat-stroked-button color="warn" (click)="closeDialog()"
            type="button">{{'Action.close' | translate}}</button>
            <button  mat-raised-button color="primary" type="submit">{{'Action.save' | translate}}</button>
           
        </div>
    </form>
</div>