  
  .login-container{
    display: block;
    margin: auto;
    width: 400px;
    padding: 2vh;
    background: rgb(233, 217, 217);  
  }
  
  .buttons {
    padding-top: 2vh;
    padding-bottom: 2vh;
    
  }
 
  .buttons {
    display: flex;
    padding-top: 2vh;
    padding-bottom: 2vh;
    justify-content:center;
    margin: auto;
  }
  