<div class="login-container">
  <div class="Newpwd-page">
    <div class="Newpwd-spacer"></div>
    <div class="Newpwd-container">        
      <div class="Forgetpwd-form">
          <strong >{{'paiement.message-redirect' | translate}}</strong>
      <br><br>
        <div class="buttons">
          <div class="Forgetpwd center" style="padding: 5%;">             
            <button  mat-stroked-button color="primary" routerLink="/paiement">{{'btn_fermer' | translate}} </button>
          </div><br>          
        </div>          
      </div>      
    </div>
  </div>
</div>