.mat-expansion-panel-header {    
    align-items: left;
    padding: 0 2px;
    border-radius: inherit;
}

.mat-expansion-panel-content {
    font-weight: 300;   
}

.mat-list-item-content{
  font-weight: 300;    
  }