.position-relative {
	position: relative;
}

  mat-form-field{
    width: 30%;
    margin-left: 1%;

  }

table {
    width: 100%;
   margin-top: 20px;
  }
  .fab{
      width: 12%;
      margin: 0.5%;
  }
  th.mat-sort-header-sorted {
    color: black;
  }

 .header{
  margin-top: 10px;
  display: block;
  margin: auto;
  text-align: center;
  color: white;
  }

  .row {
    display: flex;
    //width: 100%;
    }

  .column-search-field {
    flex: 75%;
    height:100%
    }

   .column-add-button {             
       position: relative;    
       justify-content: space-between;   
       right:20px;
       top:10px;
       flex: 25%;       
       text-align: right;       
    }

  @media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }

   }