  <div >
      <!-- <div class="card-header"> -->
        <div >

        <h3 class="card-heading float-left">
            <strong class="foncer"> {{'role.add' | translate}} 
            </strong>
        </h3>
              
      <!-- <h2>
          {{'role.add' | translate}} 
      </h2> -->
      </div><br>
      <form class="" [formGroup]="addForm" (ngSubmit)="onSubmit()">
          <div class="">
              <div>
                  <mat-form-field appearance="fill">
                    <mat-label>{{'role.profil' | translate}}</mat-label>
                      <mat-icon matSuffix>perm_identity</mat-icon>
                      <input matInput placeholder="{{'role.profil' | translate}}" type="text" formControlName="proLibelle"
                          required>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>{{'role.description' | translate}}</mat-label>
                      <mat-icon matSuffix>perm_identity</mat-icon>
                      <input matInput placeholder="{{'role.description' | translate}}" type="text" formControlName="proDescription" required>
                  </mat-form-field>
              </div>         
          </div>        
          <div class="mat-dialog-actions">    
            <button mat-stroked-button color="warn" (click)="closeDialog()" type="button" >{{'Action.close' | translate}}</button>                      
            <button mat-raised-button color="primary" type="submit">{{'Action.save' | translate}}</button>
          </div>
      </form>
  </div>