
<div class="login-container">
    <div class="Newpwd-page">
      <div class="Newpwd-spacer"></div>
      <div class="Newpwd-container">        
        <form class="Forgetpwd-form">
            <strong matInput>{{'exception.unauthorized-page' | translate}}</strong>
        <br><br>
          <div class="buttons">
            <div class="Forgetpwd center" style="padding: 5%;">             
              <button  mat-stroked-button color="primary" routerLink="/home">{{'btn_fermer' | translate}} </button>
            </div><br>          
          </div>          
        </form>      
      </div>
    </div>
  </div>
