$iconWidth: 56px;

.example-spacer {
    flex: 1 1 auto;
  }
  .mymargin{
      margin: 25px;
  }
  .decorer{
      border: 1px solid ;
     
  }
  select{
      width: 50px;
      height: 30px;
  }

mat{
    display: none;
    padding: 0;
    margin: 8px;
    min-width: $iconWidth;

    @media (max-width:920px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // mat-icon{
    //     font-size: 30px;
    //     height: $iconWidth;
    //     width: $iconWidth;
    //     line-height: $iconWidth;
    //     color: white;
    // }
}