<mat-toolbar fxShow="true" fxHide.lt-md="true" style="display:flex">
  <div>
    <button class="sidenav-toggle" mat-button (click)="toggleSidenav.emit()">
      <mat-icon>menu</mat-icon>
    </button>
    <!-- <span>Produire une application de dématérialisation paramétrable et personnalisable</span>  -->

    <!-- <span>{{'industrialisation' | translate}} </span> -->
    <!-- <span> {{prenom}} {{ nom |uppercase}} </span> -->

  </div>
  <span class="example-spacer"></span>
  <!-- <button mat-button color="secondary">
    <mat-icon color="secondary">notifications_off</mat-icon>
    {{'desact-notification' | translate}}
  </button> -->
  <form [formGroup]="userForm">
    <div class="form">
      <!-- <span class="mymargin">
      </span>&nbsp; -->
      <select class="decorer" [(ngModel)]="currentLangue" #selectedLang (change)="switchLang(selectedLang.value)"
        formControlName="uti_lng_id" (change)="getLangueId(selectedLang.value)">
        <option *ngFor="let language of Langues" [value]="language.lngLangue"
          [selected]="language.lngLangue === translate.currentLang">
          {{ language.lngLangue}}
          <!-- <mat-icon  [svgIcon]="language?.lngIcone" style="zoom: 1;"></mat-icon> -->

        </option>&nbsp;&nbsp;
      </select>
    </div>
  </form>&nbsp;&nbsp;&nbsp;&nbsp;
  <button mat-button *ngIf='AfficheApparence===true' routerLink="/utilisateur/parametre">
    <mat-icon>settings</mat-icon>
  </button>

  <ngx-avatar [matMenuTriggerFor]="menu" [src]="logo" class="aligner" size="40" *ngIf="user?.utiLogo"></ngx-avatar>
  <ngx-avatar [matMenuTriggerFor]="menu" name="{{prenom}} {{nom}}" class="aligner" size="40" *ngIf="!user?.utiLogo">
  </ngx-avatar>


  <!-- button setting -->

  <!-- <mat-menu #parametre="matMenu" x-position="before">
    <button mat-menu-item>
      <mat-icon color="warn">notifications_off</mat-icon> {{'desact-notification' | translate}}
    </button>
    <button mat-menu-item (click)="toggleDir.emit()">
      <mat-icon color="primary">laptop</mat-icon>RTL
    </button>
    <button *ngIf='AfficheApparence===true' mat-menu-item routerLink="/utilisateur/parametre">
      <mat-icon color="primary">airplay</mat-icon>{{'apparence' | translate}}
    </button>
  </mat-menu> -->


  <!-- le button theme de l'app  -->

  <!-- <button mat-mini-fab color="primary" class="mymargin" [mat-menu-trigger-for]="themeMenu"
    matTooltip="{{'theme' | translate}}" tabindex="-1">
    <mat-icon>format_color_fill</mat-icon>
  </button> -->
  <mat-menu #menu="matMenu">
    <!-- <button  mat-menu-item>
      <mat-icon color="primary">settings</mat-icon><span>{{'parametre' | translate}}</span>
    </button> -->
    <button mat-menu-item (click)="openDialog()">
      <mat-icon >vpn_key</mat-icon>{{'changePwd' | translate}}
    </button>
    <button mat-menu-item (click)="openUser()">
      <mat-icon>account_box</mat-icon> {{'compte' |translate}}
    </button>
    <button mat-menu-item (click)="toggleDir.emit()">
      <mat-icon >laptop</mat-icon>RTL
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon >exit_to_app</mat-icon>{{'log_out' |translate}}
    </button>
    <button mat-menu-item *ngIf='AfficheApparence===false' (click)="desinscrireDialog()">
      <mat-icon >person_add_disabled</mat-icon>{{'inscription.desinscrire' |translate}}
    </button>
  </mat-menu>
  <!-- <mat-menu class="theme-picker-menu" #themeMenu="matMenu" x-position="before">
    <mat-grid-list cols="2">
      <mat-grid-tile *ngFor="let theme of Themes">
        <div mat-menu-item (click)="switchTheme(theme.thmName)" (click)="getThemeId(theme.thmId)">
          <div class="theme-picker-swatch">
            <mat-icon class="theme-chosen-icon" *ngIf="currentTheme === theme">check_circle</mat-icon>
            <div class="theme-picker-primary" [style.background]="theme.thmPrimary"></div>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-menu> -->
</mat-toolbar>
<!-- <mat-toolbar color="primary">

  <span class="example-spacer"></span>

  <div fxShow="true" fxHide.lt-md="true" fxHide.gt-xs="true" fxHide.gt-xs="true">
    <a href="#" mat-button>Menu Item 1</a>
    <a href="#" mat-button>Menu Item 2</a>
    <a href="#" mat-button>Menu Item 3</a>
    <a href="#" mat-button>Menu Item 4</a>
    <a href="#" mat-button>Menu Item 5</a>
    <a href="#" mat-button>Menu Item 6</a>
  </div>


</mat-toolbar> -->
