<div class="scroll">
  <mat-card-header>
    <mat-card-subtitle>Detail</mat-card-subtitle>

  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-sm-6 col-lg-6 col-md-6">
        <mat-label><strong>{{'plaqueimmatriculation.nbPlaceDebout' | translate}}</strong>:
        </mat-label><br>
        <hr>
        <mat-label><strong>{{'plaqueimmatriculation.nbPlaceAssises' | translate}}</strong>:
        </mat-label><br>
        <hr>
        <mat-label><strong>{{'plaqueimmatriculation.taxeRegionale' | translate}}</strong>:
        </mat-label><br>
        <hr>
        <mat-label><strong>{{'plaqueimmatriculation.taxeParafiscale' | translate}}</strong>:
        </mat-label><br>
        <hr>
        <mat-label><strong>{{'plaqueimmatriculation.taxeCO2' | translate}}</strong>:
        </mat-label><br>
        <hr>
        <mat-label><strong>{{'plaqueimmatriculation.fraisTraitementDossier' | translate}}</strong>:
        </mat-label><br>
        <hr>
        <mat-label><strong>{{'plaqueimmatriculation.carosserie' | translate}}</strong>:
        </mat-label><br>
        <hr>
        <mat-label><strong>{{'plaqueimmatriculation.largeurVehicule' | translate}}</strong>:
        </mat-label><br>
        <hr>
        <mat-label><strong>{{'plaqueimmatriculation.longeurVehicule' | translate}}</strong>:
        </mat-label><br>
        <hr>
        <mat-label><strong>{{'plaqueimmatriculation.typeVarianteVersion' | translate}}</strong>:


        </mat-label><br>
        <hr>
        <mat-label><strong>{{'plaqueimmatriculation.genreVehicule' | translate}}</strong>:
        </mat-label><br>
        <hr>
        <mat-label><strong>{{'plaqueimmatriculation.regionExpedition' | translate}}</strong>:


        </mat-label><br>
        <hr>
        <mat-label><strong>{{'plaqueimmatriculation.tarif' | translate}}</strong>:


        </mat-label><br>
        <hr>
        <mat-label><strong>{{'plaqueimmatriculation.sexe' | translate}}</strong>:

        </mat-label><br>
        <hr>
        <mat-label><strong>{{'plaqueimmatriculation.region' | translate}}</strong>:
        </mat-label><br>
        <hr>
        <mat-label><strong>{{'plaqueimmatriculation.typeImmatriculation' | translate}}</strong>:

        </mat-label><br>
        <hr>
        <mat-label><strong>{{'plaqueimmatriculation.precedenteImmat' | translate}}</strong>:

        </mat-label><br>
        <hr>
        <mat-label><strong>{{'plaqueimmatriculation.dateImmatVehicule' | translate}}</strong>:

        </mat-label><br>
        <hr>
        <mat-label><strong>{{'plaqueimmatriculation.dateMiseCirculation' | translate}}</strong>:

        </mat-label><br>
        <hr>
        <mat-label><strong>{{'plaqueimmatriculation.datePrecedenteImmatriculation' | translate}}</strong>:

        </mat-label><br>
        <hr>
        <mat-label><strong>{{'plaqueimmatriculation.couleur' | translate}}</strong>:
        </mat-label><br>
        <hr>
        <mat-label><strong>{{'plaqueimmatriculation.marque' | translate}}</strong>:
        </mat-label><br>
        <hr>
        <mat-label><strong>{{'plaqueimmatriculation.puissance' | translate}}</strong>:
        </mat-label>
        <br>
        <hr>
        <mat-label><strong>{{'plaqueimmatriculation.emission' | translate}}</strong>:
        </mat-label>
        <br>
        <hr>
        <mat-label><strong>{{'plaqueimmatriculation.energie' | translate}}</strong>:
        </mat-label><br>
        <hr>
        <mat-label><strong>{{'plaqueimmatriculation.telephone' | translate}}</strong>:
        </mat-label>
        <br>
        <hr>
        <mat-label><strong>{{'plaqueimmatriculation.dateNaissance' | translate}}</strong>:

        </mat-label><br>
        <hr>
        <mat-label><strong>{{'plaqueimmatriculation.lieuNaissance' | translate}}</strong>:
        </mat-label><br>
        <hr>
        <mat-label><strong>{{'plaqueimmatriculation.nom' | translate}}</strong>:
        </mat-label><br>
        <hr>
        <mat-label><strong>{{'plaqueimmatriculation.email' | translate}}</strong>:
        </mat-label><br>
        <hr>
        <mat-label><strong>{{'plaqueimmatriculation.prenom' | translate}}</strong>:
        </mat-label><br>
        <hr>
        <mat-label><strong>{{'plaqueimmatriculation.numeroImmatriculation' | translate}}</strong>:

        </mat-label><br>
        <hr>

      </div>
      <div class="col-sm-6 col-lg-6 col-md-6">
        {{result.nbPlaceDebout}}
        <br>
        <hr>
        {{result.nbPlaceAssises}}
        <br>
        <hr>
        {{result.taxeRegionale}}
        <br>
        <hr>
        {{result.taxeParafiscale}}
        <br>
        <hr>
        {{result.taxeCO2}}<br>
        <hr>

        {{result.fraisTraitementDossier}}<br>
        <hr>
        {{result.carosserie}}
        <br>
        <hr>
        {{result.largeurVehicule}}
        <br>
        <hr>
        {{result.longeurVehicule}}
        <br>
        <hr>

        {{result.typeVarianteVersion}}
        <br>
        <hr>
        {{result.genreVehicule}}
        <br>
        <hr>

        {{result.regionExpedition}}
        <br>
        <hr>
        {{result.tarif}}<br>
        <hr>
        {{result.sexe}}<br>
        <hr>
        {{result.region}}<br>
        <hr>

        {{result.typeImmatriculation}}<br>
        <hr>
        {{result.precedenteImmat}}
        <br>
        <hr>

        {{result.dateImmatVehicule}}<br>
        <hr>

        {{result.dateMiseCirculation}}<br>
        <hr>

        {{result.datePrecedenteImmatriculation}}<br>
        <hr>
        {{result.couleur}}<br>
        <hr>
        {{result.marque}}<br>
        <hr>
        {{result.puissance}}
        <br>
        <hr>
        {{result.emission}}
        <br>
        <hr>
        {{result.energie}}<br>
        <hr>
        {{result.telephone}}
        <br>
        <hr>
        {{result.dateNaissance}}
        <br>
        <hr>
        {{result.lieuNaissance}}
        <br>
        <hr>
        {{result.nom}}<br>
        <hr>
        {{result.email}}<br>
        <hr>
        {{result.prenom}}<br>
        <hr>
        {{result.numeroImmatriculation}}<br>
        <hr>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button color="warn" (click)="closeDialog()">{{'btn_fermer' | translate}}</button>

  </mat-card-actions>
</div>